.header-main-container{
    position:fixed;
    top: 0;
    left: 0;
    background-color: rgb(248, 248, 248);
    width: 100vw;
    padding: 0 9%;
    z-index: 10;
    height: 9vh;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.header-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .location-search-main-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 800px;
    flex: 1;
} */

.location{
    height: 48px;
    min-width: 272px;
    margin: 0 0 0 15px;
}

.location-input{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
    border: 2px solid #002f34;
    border-radius: 4px;
    justify-content: space-around;
}

.location{
    position: relative;
}

.location-input input{
    border: none;
    outline: none;
    height: 100%;
    width: 70%;
}

.location-dropdown{
    width: 100%;
    box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.438) ;
}

.location-dropdown-tile{
    width: 100%;
    height: 270px;
    background-color: white;
    border-radius: 4px;
    overflow-y: scroll;
}

.current-location-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px 15px;
    border-bottom: 1px solid rgba(77, 77, 77, 0.363);
    padding-bottom: 15px;
}

.current-data{
    margin-left: 15px;
    width: 80%;
    color: skyblue;
}

.current-data{
    color: rgb(43, 156, 201);
}

.locations{
    display: flex;
    flex-direction: row;
    align-items:center;
    height: 40px;
    width: 100%;
    margin: 5px 15px;
}

.location-name {
    margin-left: 10px;
}

.search{
    height: 48px;
    min-width: 272px;
    /* max-width: 70%; */
    width: 700px;
    margin-left: 15px;
    
}

.search-input{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    height: 100%;
    /* border: 2px solid #002f34; */
    border-radius: 4px;
    justify-content: space-between;
}

.srch-inpt{
    border: none;
    outline: none;
    background: none;
    width: 100%;
}

.srch-input-border{
    border: 2px solid #002f34; 
    height: 100%;
    width: 100%;
    padding: 0 0 0 10px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.srch-btn{
    width: 55px;
    border: none;
    height: 48px;
    background-color: #002f34;
    /* color: white; */
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.language-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 15px;
    flex: 1;
}

.language{
    position: relative;
    /* display: flex;
    justify-content: center;
    flex-direction: row; */
    
}

.icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.language h5{
    margin: 0 5px;
}

.language-dropdown{
    position: absolute;
    background-color: white;
    top: 5vh;
    box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.438) ;
}
.language-tile{
    display: flex;
    flex-direction: row;
    width: 200px;
    justify-content: space-between;
    padding: 15px 10px;
    align-items: center;
}

.signup-sellbtn-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-beteween;
}

.dp-header-wrapper{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    position: relative;
    
}

.dp-tile{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 5px;
    /* border-bottom: 1px solid rgba(77, 77, 77, 0.363); */
    padding-bottom: 15px;
}

.dp-drp-dwn-link-wrapper1{
    width: 100%;
    height: auto;
    border-top: 1px solid rgba(77, 77, 77, 0.363);
    padding: 7px 0 ;
}

.dp-drop-tile{
    padding: 5px 0;
    cursor: pointer;
}
.dp-drop-tile p{
    margin-left: 5px;
}

.dp-header{
    height: 38px;
    width: 38px;
    background-color: #002f34;
    border-radius: 50%;
    cursor: pointer;
}

.dp-name-welcome-tile{
    margin: 0 15px;
}

.dp-name-welcome-tile span{
    font-size: .8rem;
    color: #002f34b9;
}

.dp-name-welcome-tile a{
    color: #002f34d3;
    font-size: .7rem;
}

.dp-dropdown-wrapper{
    position: absolute;
    background-color:white;
    left: -84px;
    top: 6vh;
    box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.438) ;

}

.uNamef{
    /* z-index: 4; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.dp-dropdown{
    width: 230px;
    height: auto;
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.dp-drop-tile{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    
}

.login{
    margin-left: 15px;
}

.sell-btn-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 48px;
    width: 120px;
    border-radius: 50px;
    border: 4px solid #002f34;
    margin-left: 15px;
    cursor: pointer;
}

.h-icon{
    margin: 0 10px;
}

.dp-header-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


@media only screen and (max-width: 1220px){
    .location{
        display: none;
    }
}

@media only screen and (max-width: 870px){
    .search{
        display: none;
    }
}

@media only screen and (max-width: 700px){
    .h-icon{
        display: none;
    }
    .language{
        flex: 2;
    }
}
